$grid-float-breakpoint: 1240px;
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color:#F5F5F1;
  color: #333333;
}

.center {
  text-align: center;
}


.index-listing:hover {
  text-decoration: none;
}

.navbar-my {
  position: absolute;
  top: 20px;
  width: 100%;
  background: transparent;
  border: none;
}

.navbar-color {
  color : white;
}

#hero-wrapper {
  margin-top: -20px;
  position: relative;
  height: 550px;
}


#hero {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('https://www.dropbox.com/s/02nkpisniet3slu/jumbotron.png?dl=1');
  color: white;

}



#catch-header {
  padding-top:13%;
  color: white;
  text-align: center;
  margin:auto;
  opacity:0.95;
  border-radius:5px;
  h1,h2{text-shadow: 0 0 20px black, 0 0 5px black;
    font-size: 60px;
    font-weight: bold}

}



.jumbotron {
  background-image: url('https://www.dropbox.com/s/02nkpisniet3slu/jumbotron.png?dl=1');

}