$grid-float-breakpoint: 1240px;
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color:#F5F5F1;
  color: #333333;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: url('https://www.dropbox.com/s/02nkpisniet3slu/jumbotron.png?dl=1');
  color: white;
  h1,h2{text-shadow:0 0 35px black}
}